@import url('https://fonts.googleapis.com/css?family=Numans');


img:hover {
    border: 10px solid white;
}

html, body{
background-color: #071824;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
font-family: 'Numans', sans-serif;
min-height: 100%;
font-family: 'Numans', sans-serif;

}
    
body{
/* Ubicación de la imagen */
background-image: url(../../../../assets/abstract-colorful-wallpapers.-fondo-para-computadora-de-colores.jpg);

/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
background-position: center center;

/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
background-color: #071824;

}