.mainConten{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.parentTile{
  display: flex;
  align-items: center;
  gap: 3px;
}

.childTile{
  height: 55px;
  width: 55px;
  border: 2px solid grey;
  margin: 4px 0.5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

/* .keyboard{
  /* width: 512px; */
  
  /* flex-wrap: wrap;
  display: flex; 
} */

.keyboardButton{
  height: 40px;
  width: 50px;
  margin: 2px ;
  border: 1px solid gray;
}

.green{
  background-color:  rgb(18, 235, 43) !important
}

.yellow{
  background-color:  rgba(233, 239, 61, 0.892) !important
}

.grey{
  background-color:  rgb(162, 163, 162) !important
}


body{
  /* Ubicación de la imagen */
  background-image: url(../../../../assets/fondo.jpg);
  
  /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-position: center center;
  
  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;
  
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;
  
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;
  
  /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
  background-color: #071824;
  
  }